<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
    </listeners>
    <test name="Test - ESB">
        <packages>
     </packages>
        <classes>
            <class name="scenario.org.wso2.carbon.automation.test.scenario.AddProxyTestCase"/>
        </classes>
    </test>
</suite>