<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="appserver-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test - APPServer" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.integration.test.*"/>
            <package name="jaggery.integration.tests.*"/>
            <package name="ms.integration.tests.*"/>
        </packages>


        <classes>
            <!--<class name="org.wso2.carbon.integration.test.services.AARUploadTestCase"/>-->
            <!--<class name="org.wso2.carbon.integration.test.poxsecurity.POXSecurityByAdminTestCase"/>-->
            <!--<class name="org.wso2.carbon.integration.test.poxsecurity.POXSecurityVerifyPostMethod"/>-->
            <!--<class name="org.wso2.carbon.integration.test.poxsecurity.POXSecurityWithInvalidGroupTestCase"/>-->
        </classes>
    </test>
</suite>
